.container_small-card{    
    width: 800px;
    margin-bottom: 15px;    
}

.container_small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card_photo > img {
    width: 350px;
    height: 200px;
    min-width: 150px;
}

.small-card_title {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.container_small-card_separator{
    margin-top: 10px;    
}

.container_small-card_separator > hr {
    border-color: gray;    
}